@model GreatCRM.Models.ViewModels.RecordViewModels

@{
    ViewBag.Title = "Proposal Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Proposal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proposal.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proposal.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proposal.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proposal.Insurance)
        </dd>
        <dt>
           @Html.DisplayNameFor(model => model.Proposal.Riders)
        </dt>

        <dd>
            @{ 
                var last = Model.Proposal.Riders.ToList().Last();
            }
            @foreach (var rider in Model.Proposal.Riders)
            {
                @rider.RiderName
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Proposal.ProposalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


